version: "3.9"
services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - DB_DSN=postgres://postgres:postgres@db:5432/mydb?sslmode=disable
    depends_on:
      - db
    command: >
      sh -c "
      until nc -z db 5432; do
        echo '⏳ waiting for postgres...';
        sleep 2;
      done;
      echo '✅ postgres is up - starting backend';
      ./server
      "

  db:
    image: postgres:14.19
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data
    # no ports section → avoids conflicts

volumes:
  db_data: